data_gizi_balita_terintegrasi_bersih_2.xlsx
Status Gizi Balita 2023.xlsx
Prediksi_Status_Gizi_Balita_Tanpa_BB_Lahir_dan_TB_Lahir.ipynb
Prediksi_Status_Gizi_Balita_With_FastAPI.ipynb
Klasifikasi_Status_Gizi_Balita_Terbaru_Eval 82.ipynb
confusion_matrices_enhanced.png
